body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
}

.first {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

h1 {
  color: #222;
  text-shadow: 0 0 7px #67c4fd;
  font-family: Helvetica, sans-serif;
  font-size: 6em;
  animation: pulse 5s infinite alternate;
}

@keyframes pulse {
  0% {text-shadow: 0 0 6px #67c4fd;}
  50% {text-shadow: 0 0 10px #fff;}
  75% {text-shadow: 0 0 8px #d6e301;}
  100% {text-shadow: 0 0 6px #e39501;}
}

.second {
  background-color: #111;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.wrap {
  width: 33.18%;
  height: 48vh;
  background-size: cover;
  animation: pulse2 5s infinite alternate;
}

@keyframes pulse2 {
  0% {border: 1px solid #67c4fd;}
  50% {border: 1px solid #fff;}
  75% {border: 1px solid #d6e301;}
  100% {border: 1px solid #e39501;}
}

.btn {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

button {
  padding: 2px 65px;
  background-color: #222;
  animation: pulse3 5s infinite alternate;
  z-index: 2;
}

@keyframes pulse3 {
  0% {color: #67c4fd;}
  50% {color: #fff;}
  75% {color: #d6e301;}
  100% {color: #e39501;}
}
